<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Bookstore</h1>
        <div class="button-container">
            <button onclick="window.location.href='/addBooks'" class="add-page-btn">Add Books</button>
            <button onclick="window.location.href='/collection'" class="show-collection-btn">Show Collection</button>
            <button onclick="window.location.href='/addPicture'" class="show-collection-btn">Add Picture</button>
            <button onclick="window.location.href='/displayPicture'" class="show-collection-btn">Show Picture</button>
        </div>
    </div>
</body>
</html>
